.new-bestsellers {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 100px;
  margin-top: 100px;
  width: 1453px;
}
.new-bestsellers h1 {
  color: #171717;
  font-size: 50px;
  font-weight: 600;
}
.new-bestsellers hr {
  width: 200px;
  height: 6px;
  border-radius: 10px;
  background: #252525;
}
.bestsellers {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 50px;
  gap: 19px;
}
@media (max-width: 700px) {
  .new-bestsellers {
    width: 100%;
  }
  .bestsellers {
    grid-template-columns: 1fr;
  }
}
